<h2>Your album cover:</h2>
<div class="album_cover">
  <div class="band_name"><%= @band_name %></div>
  <img class="album_image" src="<%= @image.medium800!.source_url %>"/>
  <div class="album_title"><%= @album_title %></div>
</div>